*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("https://images2.alphacoders.com/261/26102.jpg") no-repeat center center fixed;
    color:white;
}

.admin_dashboard{
    
    padding: 1rem !important;
    margin-top: 10% !important;
    text-align: center !important;
}

.admin_dashboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust width as needed */
    height: 10%;
    background: rgba(0, 0, 0, 0.62); /* Transparent Black */
    border-radius: 10px;
    z-index: -1; /* Push it behind the content */
}

.admin_dashboard .admin_heading{
    color: rgb(194, 145, 48);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.admin_box_container .admin_box{
    margin: 1rem;
    background-color: #1a1a1a;
    width: 20%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.admin_box_container .admin_box:hover{
    box-shadow: 3px 3px 15px rgba(255, 174, 0, 0.5);
}

.admin_box_container .admin_box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color:rgb(194, 145, 48);
}

.admin_box_container{
    display: flex;
    flex-wrap: wrap;
}

.admin_add_products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust width as needed */
    height: 10%;
    background: rgba(0, 0, 0, 0.62); /* Transparent Black */
    border-radius: 10px;
    z-index: -1; /* Push it behind the content */
}

.admin_add_products{
    margin-top: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.admin_add_products form{
    background-color: #1a1a1a;
    width: 35%;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 2px 2px 10px gray;
    display: flex;
    flex-direction: column;
}

.admin_add_products form h3{
    font-size: 2rem;
    letter-spacing: 1.5px;
    color:rgb(194, 145, 48);
}

.admin_input{
    margin: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    color: black;
    box-shadow: 2px 2px 5px rgba(6, 6, 6, 0.3);
}

.admin_input:focus{
    outline: none;
    box-shadow: 2px 2px 10px rgba(255, 215, 0, 0.5);
}
.admin_add_products form input[type="submit"]{
    background-color: rgb(194, 145, 48);
    color: black;
    letter-spacing: 2px;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.show_products{
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.show_products .product_box_cont{
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.show_products .product_box_cont .product_box{
    background-color: #1a1a1a;
    padding: 1.5rem;
    width: 25%;
    height: 450px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.58);
    color:rgb(194, 145, 48);
}

.show_products .product_box_cont .product_box img{
    height: 60%;
    border-radius: 20px;
}

.show_products .product_box_cont .product_box .product_name{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.show_products .product_box_cont .product_box .product_price{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: gray;
}


.edit_product_form{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    z-index: 1200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
}
      
.edit_product_form form{
    width: 40rem;
    height: 80%;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background-color: white;
    background-color: #1a1a1a;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    color: white;
}

.edit_product_form form img{
    height: 13rem;
}

.edit_product_form form .update_box{
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    background: black;
    color: white;
    border: 1px rgb(194, 145, 48);
}

.admin_orders::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust width as needed */
    height: 10%;
    background: rgba(0, 0, 0, 0.62); /* Transparent Black */
    border-radius: 10px;
    z-index: -1; /* Push it behind the content */
}

.admin_orders{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_orders h1{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 1px;
    color:rgb(194,145,48);
}

.admin_orders .admin_box_container .admin_box form input,
.admin_orders .admin_box_container .admin_box form select,
.admin_orders .admin_box_container .admin_box form a{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border: 1px rgb(194,145,48);
}

.delete-btn{
    background-color:rgb(194,145,48);
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0.5rem 1rem;
}

.option-btn{
    background-color: grey;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.admin_box_container .admin_box p{
    font-weight: 900;
}

 .admin_box_container .admin_box span{
    color: #C1121F;
}

.admin_orders .admin_box_container .admin_box,
.admin_messages .admin_box_container .admin_box{
    width: 40%;
}

.admin_orders .admin_box_container,
.admin_messages .admin_box_container{
    align-items: center;
    justify-content: center;
 }

.admin_users::before, .admin_messages::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust width as needed */
    height: 10%;
    background: rgba(0, 0, 0, 0.62); /* Transparent Black */
    border-radius: 10px;
    z-index: -1; /* Push it behind the content */
}

 .admin_users,
 .admin_messages{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .admin_users a,
 .admin_messages a{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    color: white;
 }

 .admin_box_container .admin_box span {
    color: rgb(217, 157, 36);;
}